UN EMPLOYMENT ANALYSIS

In [129]:
import pandas as pd

data collection

In [130]:
df1 = pd.read_csv("Unemployment_Rate_upto_11_2020.csv")
df2 = pd.read_csv("Unemployment in India.csv")

In [131]:
df1.head(3)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74

In [132]:
df2.head(3)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural

feature selection

In [133]:
df1 = df1.drop(["Region.1","longitude","latitude"], axis="columns")

In [134]:
df2 = df2.drop("Area", axis="columns")

data preprocessing

In [135]:
print(df1.columns)

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)'],
      dtype='object')

In [136]:
unique_frequency_values = df1[' Frequency'].unique()
print(unique_frequency_values)

[' M']

In [137]:
print(df2.columns)

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)'],
      dtype='object')

In [138]:
unique_frequency_values = df2[' Frequency'].unique()
print(unique_frequency_values)

[' Monthly' nan 'Monthly']

In [139]:
df2[" Frequency"] = " M"

In [140]:
df2.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
0,Andhra Pradesh,31-05-2019,M,3.65,11999139.0,43.24
1,Andhra Pradesh,30-06-2019,M,3.05,11755881.0,42.05
2,Andhra Pradesh,31-07-2019,M,3.75,12086707.0,43.50
3,Andhra Pradesh,31-08-2019,M,3.32,12285693.0,43.97
4,Andhra Pradesh,30-09-2019,M,5.17,12256762.0,44.68

In [141]:
na_values = df1.isna().sum()
print(na_values)

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
dtype: int64

In [142]:
na_values = df2.isna().sum()
print(na_values)

Region                                      28
 Date                                       28
 Frequency                                   0
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
dtype: int64

In [143]:
df2.head(-5)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
0,Andhra Pradesh,31-05-2019,M,3.65,11999139.0,43.24
1,Andhra Pradesh,30-06-2019,M,3.05,11755881.0,42.05
2,Andhra Pradesh,31-07-2019,M,3.75,12086707.0,43.50
3,Andhra Pradesh,31-08-2019,M,3.32,12285693.0,43.97
4,Andhra Pradesh,30-09-2019,M,5.17,12256762.0,44.68
...,...,...,...,...,...,...
758,NaN,NaN,M,NaN,NaN,NaN
759,NaN,NaN,M,NaN,NaN,NaN
760,NaN,NaN,M,NaN,NaN,NaN
761,NaN,NaN,M,NaN,NaN,NaN
762,NaN,NaN,M,NaN,NaN,NaN

In [144]:
df2.dropna(thresh=2, inplace=True)

In [145]:
df2.head(-5)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
0,Andhra Pradesh,31-05-2019,M,3.65,11999139.0,43.24
1,Andhra Pradesh,30-06-2019,M,3.05,11755881.0,42.05
2,Andhra Pradesh,31-07-2019,M,3.75,12086707.0,43.50
3,Andhra Pradesh,31-08-2019,M,3.32,12285693.0,43.97
4,Andhra Pradesh,30-09-2019,M,5.17,12256762.0,44.68
...,...,...,...,...,...,...
744,West Bengal,30-09-2019,M,7.79,11158649.0,45.74
745,West Bengal,31-10-2019,M,7.83,10563686.0,43.25
746,West Bengal,30-11-2019,M,6.61,10768462.0,43.44
747,West Bengal,31-12-2019,M,7.24,11335696.0,45.97
748,West Bengal,31-01-2020,M,7.27,11208617.0,45.39

In [146]:
na_values = df2.isna().sum()
print(na_values)

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
dtype: int64

In [147]:
df1.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46

In [148]:
df2.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
0,Andhra Pradesh,31-05-2019,M,3.65,11999139.0,43.24
1,Andhra Pradesh,30-06-2019,M,3.05,11755881.0,42.05
2,Andhra Pradesh,31-07-2019,M,3.75,12086707.0,43.50
3,Andhra Pradesh,31-08-2019,M,3.32,12285693.0,43.97
4,Andhra Pradesh,30-09-2019,M,5.17,12256762.0,44.68

In [149]:
df = pd.concat([df1,df2],axis="rows")

In [150]:
df.head(-5)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
0,Andhra Pradesh,31-01-2020,M,5.48,16635535.0,41.02
1,Andhra Pradesh,29-02-2020,M,5.83,16545652.0,40.90
2,Andhra Pradesh,31-03-2020,M,5.79,15881197.0,39.18
3,Andhra Pradesh,30-04-2020,M,20.51,11336911.0,33.10
4,Andhra Pradesh,31-05-2020,M,17.43,12988845.0,36.46
...,...,...,...,...,...,...
744,West Bengal,30-09-2019,M,7.79,11158649.0,45.74
745,West Bengal,31-10-2019,M,7.83,10563686.0,43.25
746,West Bengal,30-11-2019,M,6.61,10768462.0,43.44
747,West Bengal,31-12-2019,M,7.24,11335696.0,45.97
748,West Bengal,31-01-2020,M,7.27,11208617.0,45.39

In [151]:
na_values = df.isna().sum()
print(na_values)

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
dtype: int64

In [152]:
dummies = pd.get_dummies(df.Region)
df = pd.concat([df, dummies],axis=1)
dummies_2 = pd.get_dummies(df[" Date"])
df = pd.concat([df, dummies_2],axis=1)

In [153]:
df.head(2)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Andhra Pradesh,Assam,Bihar,Chandigarh,...,31-03-2020,31-05-2019,31-05-2020,31-07-2019,31-07-2020,31-08-2019,31-08-2020,31-10-2019,31-10-2020,31-12-2019
0,Andhra Pradesh,31-01-2020,M,5.48,16635535.0,41.02,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,29-02-2020,M,5.83,16545652.0,40.90,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [154]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df[" Frequency"] = le.fit_transform(df[" Frequency"])

In [155]:
x = df.drop([" Estimated Unemployment Rate (%)","Region", " Date"], axis=1)
x

,Frequency,Estimated Employed,Estimated Labour Participation Rate (%),Andhra Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Delhi,Goa,...,31-03-2020,31-05-2019,31-05-2020,31-07-2019,31-07-2020,31-08-2019,31-08-2020,31-10-2019,31-10-2020,31-12-2019
0,0,16635535.0,41.02,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,16545652.0,40.90,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,15881197.0,39.18,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,11336911.0,33.10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,12988845.0,36.46,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,0,10871168.0,44.09,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
750,0,10806105.0,43.34,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
751,0,9299466.0,41.20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
752,0,9240903.0,40.67,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
753,0,9088931.0,37.57,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [156]:
y = df[" Estimated Unemployment Rate (%)"]
y

0       5.48
1       5.83
2       5.79
3      20.51
4      17.43
       ...
749     7.55
750     6.67
751    15.63
752    15.22
753     9.86
Name:  Estimated Unemployment Rate (%), Length: 1007, dtype: float64

In [157]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_scale = scaler.fit_transform(x)

In [158]:
x_scale

array([[0.        , 0.27930116, 0.46742066, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.27778758, 0.465395  , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.26659852, 0.43636057, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.15576575, 0.47045915, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.15477958, 0.46151249, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.15222045, 0.40918298, ..., 0.        , 0.        ,
        0.        ]])

data spliting

In [159]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scale,y,test_size = 0.2)

In [160]:
x_train.shape

(805, 49)

In [161]:
x_test.shape

(202, 49)

LINEAR REGRESSION

model training

In [162]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(x_train,y_train)

LinearRegression()

evaluate model

In [163]:
linear.score(x_test,y_test)

0.5224203297286727

In [164]:
y_pre = linear.predict(x_test)
y_pre

array([ 3.79248047,  5.13330078,  7.99072266,  7.56982422, 18.59521484,
       17.51513672, 38.11230469, 26.02490234,  3.55029297,  1.43994141,
        9.22509766, 13.93701172,  9.31445312,  8.60791016,  4.90429688,
        5.83740234, 14.41699219, 14.48046875, 25.41748047,  7.65966797,
       12.203125  , 28.58642578,  3.25878906, 17.0234375 ,  7.10986328,
        6.49462891, 10.57617188, 27.43847656, 22.72167969, 28.08691406,
        4.14892578, 26.2265625 ,  7.36230469,  9.12890625,  9.95117188,
        4.36914062, 20.02880859,  2.49755859, 19.11962891,  4.20068359,
       22.98339844, 16.83935547,  6.47119141, 22.18994141,  6.32568359,
       23.68994141,  6.15234375,  8.19775391, 10.52978516,  3.86816406,
        7.21435547,  4.43847656,  5.28369141, 19.63818359, 13.91210938,
       11.20410156,  0.52783203,  4.06298828, 23.64306641,  1.16650391,
        9.64941406, 19.36669922, 29.24365234,  6.79589844,  7.65673828,
        5.58886719,  7.32275391, 19.33447266,  7.94775391, 18.14599609,
        4.97753906, 19.79296875,  6.89208984,  7.07617188, 29.56396484,
        5.36523438,  3.37597656,  6.08447266,  5.73828125,  6.59814453,
        8.86669922,  3.34570312, 25.29638672, 13.23681641, 13.18701172,
       -1.23291016, 16.69775391, 10.54003906,  2.24169922, 15.20068359,
       15.66064453,  2.93066406,  5.34228516,  4.79492188,  6.73876953,
       26.03417969, 38.97314453,  6.01367188,  4.38134766,  8.11279297,
        6.16259766,  4.92089844, 15.69384766,  3.44287109, 25.30908203,
       20.02685547, 14.28173828,  2.28417969,  8.50634766, 19.96972656,
       20.99804688, 16.33349609, 17.50146484,  8.23095703,  2.36474609,
       22.88427734, 15.72802734,  1.67675781,  7.20654297,  5.82666016,
        2.99023438, 25.56103516,  4.56494141, 22.60302734, 12.24853516,
        7.80664062, 21.75439453, 35.78710938,  9.46191406,  3.24169922,
        2.39306641,  8.22900391,  8.41259766,  2.35498047, 19.43994141,
       15.20068359,  3.09716797,  9.02294922,  2.67724609,  4.45751953,
        3.74121094,  7.84130859,  5.70654297,  4.60693359, 17.20751953,
        3.88525391, 18.76464844,  8.67089844,  2.70361328,  5.40185547,
        5.23681641, 21.58886719, 11.45654297, 29.97314453, 15.81152344,
        6.57177734,  3.60400391,  0.25048828,  4.76220703,  8.00830078,
        6.49169922,  3.68505859,  9.92431641, 14.91748047,  6.38330078,
       -0.42626953, 13.52783203,  5.69189453,  4.81982422, 15.71289062,
       18.28564453,  5.44091797,  3.75927734, 21.15869141, 10.26855469,
       23.71777344,  3.58447266, 34.86083984, -0.13476562,  7.56494141,
       27.83154297,  8.34814453, 24.17822266,  6.19091797, 19.53466797,
        7.62988281, 38.53955078, 19.67431641, 24.81298828, 20.64892578,
        6.77929688, 22.5703125 , 13.8203125 , 17.56005859,  4.07373047,
        7.49365234, 15.85498047, 22.78662109,  8.10498047,  2.42626953,
       13.63427734, 19.96191406])

In [165]:
score = cross_val_score(LinearRegression(),x_scale,y,cv=3)
score

array([-7.19774948e+23,  4.66787066e-01,  4.87647285e-01])

In [166]:
#random subset

from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=LinearRegression(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.5451695099537602

In [167]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 51.515058699249046

DECISION TREE

model training

In [168]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(x_train,y_train)

DecisionTreeRegressor()

evaluate model

In [169]:
tree.score(x_test,y_test)

0.5424527913700081

In [170]:
y_pre = tree.predict(x_test)
y_pre

array([ 9.26,  3.2 ,  1.18,  9.19, 11.8 ,  9.06, 34.22, 25.94,  2.72,
       20.59,  5.35, 14.36,  6.47,  2.06,  8.85,  6.4 , 13.79, 24.48,
       42.27,  6.64, 13.62, 18.74,  3.92, 11.43,  5.  ,  5.49, 22.45,
       17.36,  2.2 , 26.22,  5.39, 21.54,  6.64,  1.17,  4.54,  7.57,
       16.89,  5.79,  9.06,  5.48, 24.19, 21.8 ,  1.37, 50.  ,  7.39,
       24.17,  4.34, 20.45,  9.19,  5.49,  8.38,  4.92,  6.46, 21.51,
       10.16,  6.36,  2.72,  2.28, 16.36,  5.31, 20.  , 50.  , 13.31,
        2.65, 22.26,  6.64,  4.54, 10.61,  9.77,  1.12,  7.57, 13.62,
        1.5 ,  3.68, 13.31,  4.06,  5.79,  2.77,  5.79,  4.11,  5.21,
        3.7 , 25.77, 12.09, 10.92,  5.21, 16.11, 10.51,  7.38, 12.09,
       13.68,  5.49,  4.29,  1.42,  3.31, 26.64, 41.23,  5.  ,  1.03,
        7.27,  6.82,  4.85, 10.41,  5.53, 24.17, 58.19, 13.48,  3.91,
        8.85, 23.38, 15.11, 10.35,  7.12,  4.54,  4.71, 27.47, 24.15,
        4.29,  5.79,  6.66,  2.76, 24.17,  5.7 ,  3.41, 20.3 , 20.45,
       53.19,  5.92, 11.13,  6.66,  2.39,  4.29,  3.77,  4.29,  0.  ,
        9.52,  5.53,  7.27,  6.23,  1.63,  2.28, 20.45,  8.85,  5.66,
       22.45,  3.21, 27.31, 15.69,  3.42, 11.54,  5.49, 50.  ,  5.02,
       24.17, 18.35,  6.64,  6.94,  4.34,  4.45,  8.85,  4.46,  3.31,
       10.14, 16.67,  7.57,  8.92, 13.81,  9.01,  2.86,  9.82,  1.12,
        5.17,  3.77, 32.3 ,  6.36, 25.94,  5.08, 46.64,  8.92,  3.8 ,
       32.67,  5.52, 14.58,  4.46, 14.06,  5.79, 34.22, 20.25, 29.25,
        9.06,  6.64, 25.94, 16.22, 12.25, 10.34,  8.85, 10.41, 23.92,
        5.79,  4.71, 20.78, 25.94])

In [171]:
score = cross_val_score(DecisionTreeRegressor(),x_scale,y,cv = 3)
score

array([0.34965718, 0.58902707, 0.38114826])

In [172]:
#random subset

from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=DecisionTreeRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.7091560561068635

In [173]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 49.354218316831684

RANDOM FORSET

model training

In [174]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x_train,y_train)

RandomForestRegressor()

evaluate model

In [175]:
rf.score(x_test,y_test)

0.7593204083888501

In [176]:
y_pre = rf.predict(x_test)
y_pre

array([10.3653,  3.9794,  2.2366,  8.7201, 10.1852,  8.5165, 23.5113,
       15.7618,  3.5543,  6.8803,  7.7281, 13.9072,  5.3378,  4.9852,
        7.3077,  5.5251, 13.3815, 19.4161, 33.6816,  5.2343, 12.1419,
       20.1475,  3.9243, 13.2863,  7.6449,  7.9135, 11.7422, 14.208 ,
        5.6711, 27.603 ,  5.1125, 21.1376,  5.4102,  2.448 ,  7.0934,
        6.4072, 21.3878,  6.5865,  8.9905,  5.6738, 25.7138, 15.4402,
        0.9808, 35.3424,  7.2829, 23.8891,  4.4398, 13.965 ,  9.4411,
        5.7036,  6.7142,  3.8407,  5.8142, 21.8947, 11.2393,  3.8213,
        2.9816,  2.7753, 21.8573,  3.9555, 11.8709, 39.1446, 14.0185,
        2.7005,  6.1705,  5.291 ,  7.0206,  9.4516,  8.5318,  6.0541,
        6.9243, 17.2854,  1.4738,  4.225 , 12.7204,  4.4973,  6.5085,
        5.1326,  5.9724,  5.9971,  4.8634,  5.1059, 22.9326, 14.4261,
        8.6998,  4.9557, 14.6384,  9.3873,  7.6741, 17.8536, 14.4787,
        5.638 ,  6.8719,  3.8802,  5.6829, 27.9537, 33.7396,  7.0125,
        1.2614,  7.3256,  5.3738,  5.2958, 12.9678,  5.3498, 26.5814,
       36.5859, 13.1504,  5.0982,  9.3367, 20.171 , 16.9838, 11.1134,
        8.2925,  6.2119,  3.4152, 27.9654, 17.0725,  4.9901,  6.1418,
        5.443 ,  4.8595, 26.7703,  7.1204, 14.2678, 17.744 , 13.854 ,
       43.3007, 13.5162,  9.7638,  4.3185,  3.5452,  5.0794,  5.6131,
        4.226 ,  9.1271, 15.2939,  4.9447,  6.628 ,  5.4845,  6.948 ,
        3.4018, 13.1267,  7.3173,  5.6955, 18.6676,  6.9847, 25.2394,
        9.2774,  4.4011,  7.724 ,  5.8336, 51.7095,  5.5978, 26.8175,
       16.7558,  5.7141,  7.358 ,  4.6495,  9.3127,  8.0295,  5.8515,
        3.4799,  8.5381, 15.619 ,  6.7183,  8.0279, 13.2778,  9.222 ,
        3.4609, 10.1457,  7.8747,  6.1229,  4.6436, 17.6528,  3.7373,
       18.6469,  5.6371, 39.5982,  8.0315,  3.9883, 30.7838,  6.0255,
       15.6674,  3.7472, 16.5753,  6.4492, 21.2121, 18.9269, 27.5058,
        9.3242,  5.2028, 19.3091, 15.0603, 13.9955,  9.6714,  9.282 ,
       12.9254, 24.3085,  6.1411,  2.953 , 16.4122, 19.9166])

In [177]:
score = cross_val_score(RandomForestRegressor(),x_scale,y)
score

array([0.65965543, 0.70588386, 0.8261755 , 0.60133515, 0.49499885])

In [178]:
#random subset

from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=RandomForestRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.6397273276443869

In [179]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 25.961371602178232

KNN

model training

In [180]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=15)
knn.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=15)

evaluate model

In [181]:
knn.score(x_test,y_test)

0.48281560503267273

In [182]:
y_pre = knn.predict(x_test)
y_pre

array([12.79066667,  8.08466667,  4.85466667, 10.32533333,  9.746     ,
       10.64266667, 26.27866667, 15.132     ,  5.40133333,  7.14466667,
       10.314     , 12.89266667,  7.5       , 18.43333333,  5.886     ,
        6.90466667, 15.80333333, 18.50533333, 25.178     ,  6.264     ,
       13.87133333, 24.878     ,  6.428     , 18.18533333, 10.03333333,
        9.29666667, 10.916     , 19.74266667, 16.578     , 28.83666667,
        6.738     , 12.26466667,  5.98666667,  9.97933333,  8.92333333,
        7.352     , 11.22733333,  9.12933333, 12.45066667,  9.706     ,
       19.476     , 17.90533333, 12.07133333, 13.79466667,  8.18666667,
       21.55466667,  6.06733333, 14.474     ,  8.31333333,  5.892     ,
        8.60133333,  5.99266667,  8.50933333, 20.53466667, 12.956     ,
        4.16066667,  4.636     ,  7.28866667, 21.41333333,  4.74533333,
       13.62333333, 20.43666667, 18.94466667,  3.94066667,  8.146     ,
        5.93      , 11.90666667,  9.67266667,  9.        , 16.02066667,
        7.84866667, 13.38      ,  6.556     ,  6.05      , 18.94466667,
        5.11266667,  9.12933333,  9.12866667,  8.032     ,  9.492     ,
       13.34066667,  6.16133333, 21.65733333, 15.17066667,  6.38066667,
        6.52533333, 13.724     ,  8.91533333, 15.28866667, 16.12933333,
       19.72733333,  6.95      ,  7.536     ,  6.92266667,  8.24866667,
       26.56466667, 27.68666667, 10.91066667,  6.592     ,  6.796     ,
        7.23133333,  6.35      , 13.98666667,  7.17933333, 21.99266667,
       13.856     , 12.182     ,  6.696     ,  9.94733333, 19.496     ,
       18.01133333, 12.69333333, 12.73866667,  8.024     ,  4.06866667,
       23.906     , 12.86266667,  6.96933333,  8.88133333,  6.72866667,
        3.64733333, 20.00066667,  6.112     , 15.664     , 17.224     ,
       13.        , 23.41266667, 22.10533333, 10.56066667,  7.378     ,
        8.32      ,  3.55666667,  6.77866667,  6.52      , 30.43466667,
       12.708     ,  6.50533333,  6.518     ,  7.02466667,  9.128     ,
        6.806     , 13.08466667,  7.93733333,  6.11533333, 16.06333333,
        8.904     , 19.142     , 10.59733333,  4.74133333,  6.844     ,
        5.81733333, 12.50866667,  7.15066667, 27.07866667, 16.51866667,
        6.104     ,  7.88933333,  6.538     ,  9.93333333, 10.25933333,
        7.19      ,  5.504     ,  8.00133333, 18.80533333,  7.05266667,
        7.26133333, 12.35866667,  9.038     ,  7.55266667, 11.53      ,
       17.37266667,  7.65733333,  6.31333333, 16.54666667,  3.99866667,
       12.81733333,  6.818     , 26.16466667,  7.49133333,  6.25333333,
       28.76333333,  8.92733333,  8.524     ,  4.868     , 17.52      ,
        6.56733333, 31.732     , 17.33733333, 26.26333333, 12.596     ,
        6.11266667, 15.67      , 12.23466667, 15.30666667, 10.63466667,
        9.91066667, 13.98666667, 19.43      ,  8.11733333,  4.182     ,
       12.378     ,  9.86533333])

In [183]:
score = cross_val_score(KNeighborsRegressor(),x_scale,y)
score

array([0.62092308, 0.60052354, 0.58012741, 0.50387455, 0.44483029])

In [184]:
#random subset

from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=KNeighborsRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.5909308131043638

In [185]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 55.78709924972498